@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="text-align:center;">@ViewData["Title"]</h1>

<p style="text-align:center;">
    By posting a photo you must agree that anyone can download, copy or edit it.
    <br />
    By downloading a wallpaper you are lisenced to edit, share and recreate it.
    <br />
    <h4 style="text-align:center">DO NOT POST COPYRIGHT IMAGES</h4>
<p style="text-align:center">
    Or you may get permanantly BANNED
</p>
</p>
