<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourPaper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        body{
            background-color:#161616;
        }

        .navbar{
            background: linear-gradient(to bottom right, #001046,#001b76) !important;
            margin-bottom: 15px;
        }

        .navbar-brand {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">YourPaper</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <div class="navbar" style="height:50px;">
        @Html.ActionLink("Privacy","Privacy","Home")
    </div>
</body>
</html>
